* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

h1, p {
    text-align: center;
    margin: 10px;
}

#image {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    display: block;
}


#zone_joystick {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    background-color: #f1f1f1;
}
